{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="containermail mt-4">
        <h1>Contactez-nous</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
        {{ form_end(form) }}
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}